.App {
  font-family: sans-serif;
  text-align: center;
}

.input-group-addon {
  width: 25px;
  padding: 10px 1px;
  font-size: 20px;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
}

.input-group {
  margin-bottom: 5px;
}
